.jumbotron{
  color:white;
  background-color:lightblue;
  text-align:center;
  font:cambria;
  font-size:30%;
}
.form-group{
  align-items: center;
  text-align: center;
}

aside{
  background-color:lightblue;
  color:black;
  height:100vh;
  font-size:100%;
  width:300px;
text-align:center;

}
li{
  text-align:center;
  list-style-position: inside;
  background-color: lightblue;
  border-raduis:50%;
}
footer
