.jumbotron{
  color:white;
  background-color:lightblue;
  text-align:center;
  font:cambria;
  font-size:30%;
}
.form-group{
  align-items: center;
  text-align: center;
}

aside{
  background-color:grey;
  color:white;
  height:100vh;
  font-size:110%;
  width:400px;
  position:absolute;
  
}
footer
